@{
    ViewData["Title"] = "Desafio";
}
<h5>@ViewData["Title"]</h5>
<hr />
<div>
    <p>
        Um dos desafios que me marcaram foi quando eu estava no laboratório Sodré (primeiro emprego como desenvolvedor .NET)
        e surgiu a demanda de realizar a integração com a forma de pagamento PagSeguro. Com este desafio fui capaz de melhorar
        minhas habilidades em ler documentações de integrações e conversar com o pessoal tech do PagSeguro. Foi bem legal pois
        atuei tanto na parte do back-end quanto no front-end
    </p>
    <p>Tecnologias utilizadas:</p>
    <ul>
        <li>Front-end: Razor, JavaScript, JQuery, Ajax</li>
        <li>Back-end: .NET Framework</li>
        <li>Arquitetura: MVC</li>
    </ul>
</div>
