@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gabriel Rodrigues Ramos de Oliveira</h1>
    <strong>Cargo: Desenvolvedor .NET</strong>
    <br />
    <strong>Pretensão Salarial: Acima de R$ 5700,00 (bruto)</strong>
    <hr/>
    <strong>Data do teste: 31/10/2023 (inicio)</strong>
</div>
